#nav-container h1{
    cursor: pointer;
    color: white;
    position: relative;
    top: 8px;
    text-decoration: none;
}

#nav-container h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px; 
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#nav-container h1:hover::after {
    transform: scaleX(1);
}