@import "tailwindcss";

p,h1,h2,h3,h4 {
  color: white;
}

:root {
}

body {
  background-color: black;
  background-image: url('/bg.svg') !important;
  background-repeat: repeat !important;
  background-size: auto !important;
}

body {
  font-family: var(--font-inter), roboto;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
